# precompiled binaries
bin/

# crash dumps, shouldn't be distrubuted
dump.dat

# vscode workspaces
*.code-workspace

# vscode stuff
.vscode/

# files for testing new bluebird functions
testing/

# open current directory file
start.bat

# bluebird configuration files
bluebird.cfg