# precompiled binaries
bin/*.exe

# auto compilation files (a copy of the command in this batch file will be in the readme anyway)
compile.bat

# i'm lazy okay
start.bat

# crash dumps, shouldn't be distrubuted
dump.dat

# vscode workspaces
*.code-workspace