# precompiled binaries
bin/*.exe

# crash dumps, shouldn't be distrubuted
dump.dat

# vscode workspaces
*.code-workspace

# files for testing new bluebird functions
testing/

# open in current directory file
start.bat